{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container mx-auto px-4 py-2">
    <h1 class="font-sans font-bold text-green-500 text-2xl">Tailwind Alpine HTMX Wagtail Test</h1>
    <p class="font-sans text-zinc-600 text-lg">Demo site using Wagtail/Django for backend CMS, and TailwindCSS, AlpineJS and HTMX for frontend. Webpack 5 is used for packaging and livereload.</p>
</div>

{% endblock content %}
