{% load static %}
<div class="nav-bar fixed top-0 left-0 right-0">
    <nav class="bg-gray-800" x-data="{ open: false }" id="nav-bar">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" x-on:click="open = ! open" >
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Heroicon name: outline/menu
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Heroicon name: outline/x
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex-shrink-0 flex items-center">
                <img class="block h-8 w-auto" src="{% static "images/omnific-studio-center.svg" %}" alt="Workflow">
              </div>
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/" class="{% if page.url == "/" %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white {% endif %} px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
      
                  <a href="/blog/" class="{% if page.url == "/blog/" %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white {% endif %} hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>
      
                </div>
              </div>
            </div>
            <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
                <div class="max-w-lg w-full lg:max-w-xs">
                  <label for="search" class="sr-only">Search </label>
                  <div class="relative z-50">
                    <button id="searchsubmit" class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                      </svg>
                    </button>
                    <input 
                        hx-get="{% url 'search' %}" 
                        hx-trigger="keyup changed delay:500ms, query" 
                        hx-target="#search-results" 
                        name="query" {% if search_query %} value="{{ search_query }}"{% endif %} class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out" placeholder="Search">
                  </div>
                </div>
              </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" x-show="open" x-transition id="mobile-menu">
          <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="{% if page.url == "/" %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white {% endif %} block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Home</a>
      
            <a href="/blog/" class="{% if page.url == "/blog/" %}bg-gray-900 text-white {% else %}text-gray-300 hover:bg-gray-700 hover:text-white {% endif %}hover:text-white block px-3 py-2 rounded-md text-base font-medium">Blog</a>
      
          </div>
        </div>
    </nav>
    <div id="search-results"></div>
</div>
